<div class="container text-center">
  <h2 style="color: rgb(39,55,77); font-weight: 700; font-size: 32px; font-family: 'ZCOOL XiaoWei'; margin-top: 10px;"><%= @region.name %></h2>
  <%= link_to "Add card", region_trips_new_path(@region), class: "btn btn-secondary" %>
</div>
